<div class="custom-jumbotron bg-dark" >
    <h1 class="display-4 text-center" style="font-weight: 600;">USER REGISTRATION PORTAL</h1>
</div>
<div class="perfect-centering">

<div class="card"  style="width: 30rem; border-radius: 1rem; border-color: black; border-width: thick;">
<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 class="text-center" style="font-weight: 800;"> Sign In</h2>
        </div>
        <app-login-form></app-login-form>
    </div>
</div>
</div>
</div>